:root {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    max-width: 700px;
    margin: 40px auto;
    color: #444444;
}

.navigation {
    font-size:larger;
    padding:30px;
    background: rgb(45, 45, 70)
}

p{
    text-align: center;

}

.headerlink{
    color:#EEEEEE;
}

iframe.sheets {
    width:500px;
    height:300px;
}


