:root {
    background-color: rgb(30,50,70);
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

p{
    text-align: center;
}

a{
    color:green;
}

iframe.sheets {
    width:500px;
    height:300px;
}

.navigation {
    font-size:larger;
    background-color: rgb(45, 45, 70)
}
