:root {
    font-family:Arial, Helvetica, sans-serif;
}

.navigation {
    font-size:larger;
    overflow:hidden;
    padding:30px 10px;
    background: rgb(45, 45, 70)
}

body {
    margin: 40px auto;
    color: #444444;
}



p{
    max-width: 700px;
    text-align: center;
    

}

.headerlink{
    color:#EEEEEE;
}

iframe {
    width:500px;
    height:300px;
}


